/* Small devices (phones) */
@media only screen and (max-width: 768px) {
    .section-contacto__container-campos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10vw;
    }   
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section-contacto__container-campos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5vw;
    } 
}
  
/* Large devices (desktops) */
@media only screen and (min-width: 1024px) {
    .section-contacto__container-campos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .7vw;
    } 
}