/* Small devices (phones) */
@media only screen and (max-width: 768px) {
    .section-contacto__img{
        display: none;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section-contacto__img{
        display: none;
    }
}

/* Large devices (desktops) */
@media only screen and (min-width: 1024px) {
    .section-contacto__img{
        position: relative;
        width: 32vw;
        max-width: 445px;
        align-self: center;
    }
}