/* Small devices (phones) */
@media only screen and (max-width: 768px) {
    .section-sobre-mi__container-sobre-mi__descripcion{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 3.5vw;
        line-height: 5vw;
        padding-top: 1vw;
        color: #464646;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section-sobre-mi__container-sobre-mi__descripcion{
        font-family: 'Raleway';
        font-size: 2vw;
        line-height: 2.5vw;
        padding-top: 1vw;
        color: #464646;
    }
}
  
/* Large devices (desktops) */
@media only screen and (min-width: 1024px) {
    .section-sobre-mi__container-sobre-mi__descripcion{
        font-family: 'Raleway';
        font-size: 1.5vw;
        line-height: 2vw;
        padding-top: 1vw;
        color: #464646;
    }
}