/* Small devices (phones) */
@media only screen and (max-width: 768px) {
    .section-habilidades__titulo{
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 6vw;
        text-align: center;
        color: #464646;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .section-habilidades__titulo{
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 3vw;
        color: #464646;
    }
}
  
/* Large devices (desktops) */
@media only screen and (min-width: 1024px) {
    .section-habilidades__titulo{
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 2vw;
        color: #464646;
    }
}